#будем использовать переадресацию
RewriteEngine On

#перенаправление для картинок
#если не файл, то переадресация -f
RewriteCond %{REQUEST_FILENAME} !-f 
#если не директория -d
RewriteCond %{REQUEST_FILENAME} !-d 

#указываем что идет редирект всех страниц на индекс, использовали реглярное выражение для отбора
#[QSA] - флаг для переадрисации, чтоб передавался GET параметр
RewriteRule ^(.+)$ index.php?url=$1 [QSA]
#RewriteRule  (.*)  http://10.3.0.9:3128/$1  [P,L] 
