.hidden{
    display: none;
}

.list-unstyled li{
    margin: .5em 0;
    padding: .25em;
}

.copywriters{
    padding: 1em 0;
    margin: 0;
    justify-content: space-between;
    box-sizing: border-box;
}

.copywriters p{
    width: 30%;
    padding: 0.5em 1em;
    /* margin: 0.25em; */
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.copywriters p:hover{
    background: rgba(0, 123, 255, 1);
    color: #fff;;
    cursor: pointer;
}

.user-info{
    width: 100%;
    padding: 1em 0;
    /* text-align: center; */
}

.user-info table {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    text-align: start;
}

.user-info table td:first-child{
    width: 30%;
    padding: .25em 1em;
    border: 1px solid #ccc;
    
}

.user-info table td:last-child{
    width: 70%;
    padding: .25em 1em;
    border: 1px solid #ccc;
}

.show-posts{
    margin: 0 auto;
    display: block;
}

.post-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-item{
    width: 30%;
    padding: 1em;
    margin: 1em;
    border: 1px solid #ccc;
}

.bold{
    font-weight: 700;
    color: rgba(0, 123, 255, 1);;
}